@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@600&display=swap');
*{
    font-family: 'Cabin', sans-serif;
}
body{
    background-color: #FFD845;
    width: 100%;
}
.description{
    font-size: 15px;
}

.img, .filter_btn, .title, .like{
    cursor: pointer;
}
.like{
    font-size: 20px;
    float: right;
}